*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #5bba6f;
  color: #f0f8f1;
  font: 2rem 'Open Sans Condensed', sans-serif;
}

h1 {
  font-family: 'Smythe', cursive;
  font-weight: normal;
  text-align: center;
}

.description {
  text-align: center;
}

form {
  background-color: #fff;
  border-radius: .3rem;
  border-top: .5rem solid #137547;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
  color: #09110b;
  margin: auto;
  max-width: 100rem;
  padding: 4rem;
}