*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 2rem 'Open Sans Condensed', sans-serif;
}

h1 {
  font-family: 'Smythe', cursive;
  font-weight: normal;
}